*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    padding:0px;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.intro{
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    
    
}
nav ul{
    display: flex;
    
}

nav ul li a{
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}
nav i{
    padding: 30px;
}

h1{
    color:#fff;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
h2{
    color:#fff;
    text-align: center;
    font-size:30px ;
    font-weight: lighter;
}

/* .heading :hover{
   cursor: pointer;
} */

.link{
   text-align: center; 
   padding: 20px;
}
.link span{
    padding: 20px;
}

.link a{
    color: #2997ff;
    font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
    text-decoration: none;
    font-size: 20px;
}

.link a :hover{
    cursor: pointer;
}

.photo img{
    
    width: 100%;
    
    top: 60%;
    
}

.photo a img:hover{
    cursor: pointer;
}
.home{
    /* position: absolute; */
    width: 100%;
    height:  100vh;
}
.home video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    z-index: -1;
}

.applewatch video a:hover{
    cursor: pointer;
}

.watch{
    position: relative;
    /* z-index: 100; */
    /* top: 100px;  */
    bottom: 20rem;
}

h3{
    color:#fff;
    text-align: center;
    font-size:30px ;
    font-weight: lighter;
}

.border{
    font-weight: 600;
    /* border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 30px;
    margin-top: 20px;*/
}

/* .ishu{
    background-color: black;
} */

.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    
}

.grid-mac{
    color: black;
}

.macbook img{
    position: relative;
    height: 50%;
    width: 60%;
    left: 25%;
    object-fit: cover;
}

.macbook a img:hover{
  cursor: pointer;
}

.imac{
    position: relative;
    height: 70%;
    width: 60%;
    left: 20%;
}

.ipad{
    position: relative;
    height: 75%;
    width: 60%;
    left: 20%;
}

.apple-watch h4{
    text-align: center;
    color: #FFA500;
}

.iwatch{
    position: relative;
    height: 60%;
    width: 85%;
    left: 10%;
}

.airpods{
    background-color: black;
}

.grid-airpods{
    color: white;
}

.airpods-img{
    position: relative;
    left: 20%;
}

.trade{
    position: relative;
    left: 2%;
    height: 60%;
    width: 98%;
}


.ac-gf-sosumi {
    display: block;
    list-style: none;
    border-bottom: 1px solid var(--footer-border-color);
    padding: 17px 0 11px 11px;
    color: gray;
    font-size: small;
}

.footnote{
    list-style: none;
}

footer{
   background-color:white;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;

}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;

}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;

}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a{
    color:#000;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color:white;
    padding: 20px;
    text-align: center;
    
}

.fotterBottom p{
    color: white;
    opacity: 0.7;
    
}

 a{
    text-decoration: none;
}

.designer{
    color: #4bbaa5;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    text-decoration: none;
}

.designer:hover{
    cursor: pointer;
}

@media(max-width:700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}





